<div class="flash">
 <%= flash[:notice] %>
</div>

<%= form_with model:@book, local:true do |f| %>

<h4>Title:<%= @book.title %></h4>

<h4>Body:<%= @book.body %></h4>

<%= link_to "edit", edit_book_path(@book) %>  |
<%= link_to "back", "/books" %>

<% end %>